.hero {
    margin-top: $heigth-header;
    position: relative;
    z-index: 5;
    background-color: #fff;    

    &-left {
        padding: 10rem 0;
        width: 58.8rem;

        &-heading {
            font-size: 5.4rem;
            font-weight: 700;
            line-height: 1.3;
            display: block;
        }

        &-subheading {
            display: block;
            margin: 4rem 0;
            font-size: 2.2rem;
            color: #686868;
            padding-right: 8rem;
            line-height: 1.4;
        }

        &-wrapper {
            display: flex;
            align-items: center;
        }

        &-btn {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 5rem;
            width: 16.2rem;
            background-color: $blue-color;
            color: #fff;
            font-size: 1.7rem;
            border-radius: 0.6rem;

            &:hover {
                filter: brightness(0.95);
            }

            &-subTitle {
                margin-left: 3.4rem;
                color: #bcbcbc;
            }
        }
    }

    &-right {
        position: absolute;
        top: 3rem;
        right: -6rem;
        height: 53.8rem;
        width: 89.8rem;
        z-index: 5;

        &-background {
            position: relative;
            &-icon {
                display: inline-block;
                position: absolute;

                // square icon 
                &.square {
                    $heigth : 1.7rem;
                    height: $heigth;
                    width: $heigth;
                }
                &.square--small {
                    $heigth : 1rem;
                    height: $heigth;
                    width: $heigth;
                }
                &.square--orance {
                    background-color: #faac76;
                }
                &.square--pink {
                    background-color: #ffbeb3;
                }
                &.square--green {
                    background-color: #a8e588;
                }

                // tringle icon
                &.triangle {
                    $heigth : 2rem;
                    width: $heigth;
                    height: $heigth;
                    border-top: $heigth solid #000;
                    border-right: $heigth solid transparent;
                }
                &.triangle--red-bold {
                    border-top-color: #f94b4b;
                }
                &.triangle--green {
                    border-top-color: #02ba66;
                }

                // circle icon
                &.circle {
                    $heigth : 1.7rem;
                    height: $heigth;
                    width: $heigth;
                    border-radius: 50%;
                }
                &.circle--small {
                    $heigth : 1rem;
                    height: $heigth;
                    width: $heigth;
                    border-radius: 50%;
                }
                &.circle--orance {
                    background-color: #faac76;
                }
                &.circle--aqua {
                    background-color: #8adae2;
                }
                &.circle--green {
                    background-color: #a8e588;
                }
                &.circle--red-bold {
                    background-color: #f94b4b;
                }

                // icon position
                &.icon-1 {
                    top: 5rem;
                    left: 35rem;
                }
                &.icon-2 {
                    top: 41.2rem;
                    left: 82rem;
                }
                &.icon-3 {
                    top: 45rem;
                    left: 25.6rem;
                }
                &.icon-4 {
                    top: 0;
                    left: 5rem;
                }
                &.icon-5 {
                    top: 26rem;
                    left: 92rem;
                }
                &.icon-6 {
                    top: 14rem;
                    left: 85rem;
                }
                &.icon-7 {
                    top: 32.4rem;
                    left: 15rem;
                }
                &.icon-8 {
                    top: 24rem;
                    left: 28rem;
                }&.icon-9 {
                    top: 50rem;
                    left: 86rem;
                }
            }
        }

        &-img {
            position: absolute;
            top: 2rem;
            right: 10rem;  
            height: 50.5rem;
            width: 36.5rem;

            &-avatar {
                height: 24.4rem;
                width: 17rem;
                position: absolute;
                border-radius: 10px;
                box-shadow: 1rem 1rem 3rem #ccc;
                top: 50%;
                left: -15%;   
                z-index: 2;
                transform: scale(1) rotateX(4deg) rotateY(-16deg) rotateZ(4deg) translateY(-50%);
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;
                animation: skewToAvatar 4s linear infinite;

                &.hidden {
                    display: none;
                }
            }
    
            &-cv {
                height: 50.5rem;
                width: 36.5rem;
                z-index: 1;
                position: absolute;  
                box-shadow: 1rem 1rem 3rem #ccc;
                transform: scale(1) rotateX(4deg) rotateY(-16deg) rotateZ(4deg);
                animation: skewToCv 4s linear infinite;
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;
            }
        }
    }

}